*.iml
.gradle
.idea/
/local.properties
keystore.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/clientStaging
app/adminStaging
app/clientRelease
app/adminRelease
