<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="io.lab10.vallet.ClientActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="io.lab10.vallet.ClientHomeActivty"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <data android:scheme="http" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.lab10.vallet.ShowQrCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>