<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.lab10.vallet">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ValletApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>


        <activity
            android:name=".admin.activities.AdminActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.activities.CreateTokenActivity"
            android:label="@string/title_activity_voucher"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.activities.WelcomeActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.activities.AddProductActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".admin.activities.DebugActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activites.HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".admin.activities.ShowQrCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>